<!-- Footer-->
<footer class="py-5 m-0" style="background-color: rgb(167, 82, 246); color: white; margin: auto;">
    <div class="row">
        <div class="p-5 col-lg-6 col-md-6 col-sm-12 col-12 align-center"
            style="margin: 0; padding: 0; font-size: 12px;">
            <h6><b>CUSTOMER POLICIES</b></h6><br>
            <p style="margin: 0; padding: 0;" id="p1">Contact us</p>
            <p style="margin: 0; padding: 0;" id="p1">FAQ</p>
            <p style="margin: 0; padding: 0;" id="p1">T&C</p>
            <p style="margin: 0; padding: 0;" id="p1">Terms of use</p>
            <p style="margin: 0; padding: 0;" id="p1">Track order</p>
            <p style="margin: 0; padding: 0;" id="p1">Shipping</p>
            <p style="margin: 0; padding: 0;" id="p1">Cancellation</p>
            <p style="margin: 0; padding: 0;" id="p1">Return</p>
            <p style="margin: 0; padding: 0;" id="p1">Privacy policy</p>
        </div>

        <div class="p-5 col-lg-6 col-md-6 col-sm-12 col-12 align-center" style="margin: 0; padding: 0; ">
            <br> <br>
            <section style="margin: 0; padding: 0; font-size: 13px;">
                <p><b>100% Original</b>&nbsp;guarantee for all products at LiveInColors.com</p>
            </section>
            <section style="margin: 0; padding: 0; font-size: 13px;">
                <p><b>Return within 30 days</b>&nbsp;on receiving your order</p>
            </section>
        </div>
    </div>
<hr>

    <div class="container" >
        
            <p class=" text-center text-white">
            <h6 style="display: flex;justify-content: center;align-items: center;">KEEP IN TOUCH</h6>

            <p style="display: flex;justify-content: center;align-items: center;"><i class="fa-2x fa-brands fa-whatsapp"></i>&nbsp;&nbsp;
                <i class="fa-2x fa-brands fa-facebook"></i>&nbsp;&nbsp;
                <i class="fa-2x fa-brands fa-linkedin"></i>
            </p>
            
    </div><br>
<hr>
    <div class="container-fluid">
        <p class="m-0 text-center text-white">Copyright &copy; LiveInColors 2022</p>
    </div>
</footer>